.desc{
    text-align: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    margin: 4rem 0;
    &__wrapper{
        width: 60%;
        margin: auto;
        padding: 3rem 0;
    }
    &__p{
        display: block;
        font-size: 28px;
        font-weight: 400;
        color: white;
    }
    &__span{
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: white; //$text-muted;
        text-wrap: balance;
    }
}