.practices{
    text-align: center;
    margin: 6rem auto;
    width: 90%;
    @include respond-above(sm) {    
        @include flexible (row, nowrap, center, center);
    }
    &__img{
        display: none;
        @include respond-above(sm) {    
            width: 20%;
            display: block;
        }
    }
    &__wrapper{
        width: 100%;
        @include respond-above(sm) {            
            width: 50%;
            margin: auto;
        }
    }
    &__p{
        display: block;
        font-size: 28px;
        font-weight: 400;
    }
    &__span{
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: $text-muted;
        text-wrap: balance;
    }
    &__button{
        margin: 2rem auto;
        padding: 1rem;
        border: solid 1px $blacky;
        color: $blacky;
        border-radius: 30px;
        cursor: pointer;
        &:hover{
            background-color: $blacky;
            color: white;
            background: rgb(63,94,251);
            background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
            font-weight: 500;
        }        
    }
}